<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="parseTodoForm()">
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Type:</ion-label>
      <ion-select [(ngModel)]="todo.type" name="type">
        <ion-select-option *ngFor="let type of taskTypes">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <button ion-button type="submit" block>➕</button>
  </form>

  <br>

  <!-- (TODO): Make all the tasks display as a list (ion-list). -->
  <ion-list>
    <!-- <div *ngFor="let task of taskList">
      {{ task.title }}
      <br>
      {{ task.description }}
      <br>
      {{ task.type }}
      <br>
      <br>
    </div> -->
    
  </ion-list>
</ion-content>
