button {
    background-color: transparent;
    color: var(--ion-color-primary-shade);
    font-size: 4rem;
    position: fixed;
    right: 0px;
    bottom: 0px;
    transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    z-index: 100;
}
button:hover {
    color: var(--ion-color-primary-tint);
}
button:active {
    transform: scale(120%);
    -webkit-transform: scale(120%);
}

ion-title {
    text-align: center;
    text-shadow: 1px 1px 5px rgb(213, 213, 213);
}
